.nav-item {
    /* float: left */
    list-style-type: none;
    display: inline-block;
    background-color: #efefef;
}

.owlitem {
    background-color: #e9db63;
}

.swiper-slide {
    background-color: #ecebeb;
    border: 1px solid;
}