.plyr {
    margin-bottom: 20px;
    border-radius: 0;
}
.plyr__play-large {
    padding: 30px;
    border: 0;
    background: rgba(255, 255, 255, 0.95);
    color: #404040;
    -webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
}
.plyr--audio .plyr__controls {
    border: 0;
    background: rgba(0, 0, 0, 0.06);
}

.visible {
    visibility: visible;
}
.animated {
    visibility: hidden;
}

.nav-item {
    /* float: left */
    list-style-type: none;
    display: inline-block;
    background-color: #efefef;
}

.owlitem {
    background-color: #e9db63;
}

.swiper-slide {
    background-color: #ecebeb;
    border: 1px solid;
}

.isotope-filter li {
    float: left;
    margin: 10px;
}

.test li {
    float: none;
}